* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
  color: #3ea5ff;
}
a:hover {
  color: #2f9eff;
}
body {
  margin: 0;
  background: #e9eaec;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  color: #444;
}
textarea {
  font-size: 14px;
  width: 100%;
  height: 80px;
  padding: 8px 10px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ddd;
  resize: none;
}
.button {
  padding: 8px 16px;
  text-align: center;
  border-radius: 3px;
  border: none;
  background-color: #3ea5ff;
  color: #fff;
  outline: none;
  font-size: 14px;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
}
.button:hover {
  background-color: #2782D2;
  cursor: pointer;
}
.button:active {
  background-color: #065192;
}
.center {
  text-align: center;
}
pre code {
  overflow: auto;
  background-color: #f3f6fa!important;
  border-radius: 0.3rem;
  word-wrap: normal;
  border: solid 1px #dce6f0;
}
:-webkit-any(select.form-control) {
  -webkit-appearance: none;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAFCAMAAACdH1c/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFRUpR////m74sLQAAAAJ0Uk5T/wDltzBKAAAAJklEQVR42mJgYAQDKAUFDAwMEApVFCyAJsgIFkIXBJuHIcgIEGAAEyUAWsvQ8r0AAAAASUVORK5CYII=);
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.07);
}
::-webkit-scrollbar-thumb {
  border-width: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(106, 106, 106, 0.52);
  -webkit-box-shadow: inset 0 0 4px rgba(173, 173, 173, 0.5);
}
.main-content {
  min-height: 600px;
}
.row-wrap {
  width: 960px;
  margin: auto;
}
.row-wrap.row-wrap-small {
  width: 700px;
}
.inline {
  display: inline-block;
}
.tag-header {
  color: #444;
  text-align: center;
  padding-top: 15px;
  background: #fdfdfd;
}
.tag-header h1 {
  font-size: 30px;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 3px;
  margin-bottom: 0;
}
.tag-header p {
  color: #999;
  font-size: 12px;
}
.tag-header p b {
  color: #333;
}
.topic-content .topic-title {
  margin-bottom: 20px;
}
article p,
article table,
article ul,
article ol {
  line-height: 1.5;
  margin-bottom: 15px;
}
/**
 * headers
 */
body {
  padding-top: 38px;
}
div.nav-bar {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  background-color: #3ea5ff;
  height: 40px;
  margin-bottom: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
div.nav-bar .brand-logo-container {
  display: inline-block;
  position: relative;
  top: -8px;
  margin-right: 10px;
}
div.nav-bar .brand-logo-container a {
  color: white;
  font-size: 28px;
}
div.nav-bar .brand-logo-container a:hover {
  text-decoration: none;
}
div.nav-bar .nav-pills > li.active > a,
div.nav-bar .nav-pills > li.active > a:focus,
div.nav-bar .nav-pills > li.active > a:hover {
  color: #fff;
  background-color: #3784C7;
}
div.nav-bar .nav-pills {
  display: inline-block;
}
div.nav-bar .nav-pills li > a {
  color: #E8F1FA;
  border-radius: 0;
}
div.nav-bar .nav-pills li > a:hover,
div.nav-bar .nav-pills li > a:focus {
  background: #3BA0F8;
}
div.footer {
  background: #F3F3F3;
  margin-top: 100px;
  min-height: 140px;
  width: 100%;
  border-top: 1px solid transparent;
  font-size: 13px;
}
div.footer div.footer-align {
  border-top: 1px solid transparent;
  width: 80%;
  margin: 0 auto;
  margin-top: 46.66666667px;
  text-align: center;
}
div.footer div.footer-align a.cell:not(:last-child)::after {
  content: "|";
  padding: 0 10px;
  font-size: 12px;
  color: #B9B9B9;
}
img.avatar {
  border-radius: 50%;
}
span.avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  vertical-align: middle;
}
span.avatar img {
  width: 100%;
  height: 100%;
}
span.avatar.avatar-radius img {
  border-radius: 40px;
}
.category-grid-table {
  width: 100%;
}
.category-grid-table tr th {
  width: 20%;
}
.category-grid-table tr td {
  border: solid 1px #eee;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  background: #FDFDFD;
}
.category-grid-table tr td a {
  color: #666;
  font-weight: bold;
}
div.product {
  width: 100%;
  overflow: hidden;
  min-height: 130px;
  padding: 15px 0;
  border-bottom: solid 1px #eee;
}
div.product div.item-left {
  height: 110px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}
div.product div.item-right {
  height: 110px;
  position: relative;
}
div.product div.item-right .item-title {
  margin-bottom: 5px;
}
div.product div.item-right .item-title a {
  color: #333;
}
div.product div.item-right .item-title a:hover {
  color: #000;
}
div.product div.item-right p.item-content {
  color: #666;
  margin-bottom: 10px;
}
div.product div.item-right .item-info {
  color: #666;
  position: absolute;
  bottom: 0;
}
div.product div.item-right span.item-publish-date {
  margin-right: 10px;
}
/**
 * product nav box
 */
.product-header {
  position: relative;
  padding-bottom: 60px !important;
  background-image: url(http://7xkn9n.com1.z0.glb.clouddn.com/image%2F55acdbb4b84b4.jpeg_d320.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.product-header h1 {
  color: white;
}
/**
 * product topic
 */
.product-main-container {
  width: 700px;
  margin: auto;
  margin-top: 40px;
}
.product-nav-box {
  display: block;
  position: absolute;
  bottom: -30px;
  width: 700px;
  margin-left: 50%;
  left: -350px;
  padding: 3px;
  background: #3ea5ff;
}
.product-nav-box .nav-item {
  cursor: pointer;
  display: inline-block;
  padding: 16px;
  color: white;
}
.product-nav-box .nav-item:hover,
.product-nav-box .nav-item.active {
  background: white;
  color: #3ea5ff;
}
div.recommendation-slider {
  background-color: #fff;
  min-height: 200px;
  text-align: center;
  margin-bottom: 10px;
}
div.recommendation-slider:before {
  content: "推荐Slider";
  line-height: 200px;
}
div.hot-topic-slide {
  background-color: #fff;
  min-height: 500px;
  text-align: center;
  margin-bottom: 10px;
}
div.hot-topic-slide:before {
  content: "热门话题";
  line-height: 500px;
}
div.search {
  position: relative;
  float: right;
  display: block;
  margin-top: 5px;
  width: 250px;
}
div.search input {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding: 5px 27px 6px 12px;
  font-size: 12px;
  line-height: 30px;
  color: #292f33;
  background-color: #f5f8fa;
  border: 1px solid #e1e8ed;
  border-radius: 21px;
  transition: all 0.2s ease-in-out;
  outline: none;
}
div.search input:focus {
  background-color: #fff;
}
div.search span.search-icon {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  padding-right: 3px;
  color: #9E9898;
  border-left: 1px solid #e1e8ed;
}
div.sku {
  width: 100%;
  margin-bottom: 20px;
}
div.sku img.pic {
  width: 100%;
  height: 100%;
}
div.sku div.sku-left {
  background-color: #fff;
  float: left;
  height: 100%;
}
div.sku div.sku-right {
  float: left;
  height: 100%;
}
div.sku div.sku-right div.sku-right-up {
  background-color: #fff;
}
div.sku div.sku-right div.sku-right-bottom div.sku-right-bottom-left {
  background-color: #fff;
  float: left;
  height: 100%;
}
div.sku div.sku-right div.sku-right-bottom div.sku-right-bottom-right {
  background-color: #fff;
  float: left;
  height: 100%;
}
/**
 * 分类目录
 */
.product-categories {
  padding-top: 20px;
}
.product-categories .category {
  margin: 20px 0;
}
.product-categories .category ul {
  margin: 0;
  padding: 0;
}
.product-categories .category .category-nav {
  padding: 4px 0;
  margin-bottom: 10px;
}
.product-categories .category .category-nav li {
  position: relative;
  display: inline-block;
  padding-right: 15px;
}
.product-categories .category .category-nav li::after {
  content: '>';
  position: absolute;
  right: 0;
  top: 2px;
  color: #333;
}
.product-categories .category .category-nav li a {
  font-weight: bold;
  color: #333;
  font-size: 15px;
}
.product-categories .category .category-recommend {
  margin-bottom: 10px;
}
.product-categories .category .category-recommend li {
  display: inline-block;
  margin-right: 5px;
  border: solid 1px whitesmoke;
  padding: 6px 15px;
}
.product-categories .category .category-items li.category-item {
  display: inline-block;
  margin: 10px 10px 10px 0;
}
.product-categories .category .category-items li.category-item a {
  font-size: 12px;
  color: #666;
}
div.paginate {
  display: flex;
  justify-content: center;
  /* align horizontal */
  width: 100%;
  height: 35px;
  background-color: #fff;
}
div.paginate div.paginate-align {
  height: 100%;
}
div.paginate .hover:hover {
  cursor: pointer;
  color: #3ea5ff;
}
div.paginate div.page-unit {
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  height: 100%;
  width: 100px;
  float: left;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}
div.paginate div.page-unit .page-item:hover {
  cursor: pointer;
  color: #3ea5ff;
}
div.paginate div.previous-page {
  border-right: 1px solid #ccc;
}
div.paginate div.previous-page:hover {
  cursor: pointer;
  color: #3ea5ff;
}
div.paginate div.pages {
  position: relative;
}
div.paginate div.pages ul {
  display: none;
  box-shadow: 0px -1px 6px #ccc;
  max-height: 300px;
  overflow: auto;
  width: 102px;
  position: absolute;
  bottom: 32px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
  left: -1px;
}
div.paginate div.pages ul.active {
  display: block;
}
div.paginate div.pages ul li {
  padding: 5px 0;
}
div.paginate div.pages ul li:hover,
div.paginate div.pages ul li.active {
  background-color: #f7f7f7;
  cursor: pointer;
}
div.paginate div.next-page {
  border-left: 1px solid #ccc;
}
div.paginate div.next-page:hover {
  cursor: pointer;
  color: #3ea5ff;
}
div.mask {
  z-index: 100;
  background-color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
}
div.mask.show {
  opacity: 0.6;
  display: block;
}
nav.post-controls {
  padding: 0;
}
nav.post-controls .like-count {
  font-size: inherit;
  margin-right: -5px;
}
nav.post-controls .highlight-action {
  color: #a7a7a7;
}
nav.post-controls a,
nav.post-controls button {
  color: #c8c8c8;
  margin-right: 2px;
  display: inline-block;
}
nav.post-controls a.toggle-likes {
  padding: 8px 0;
  margin-right: -3px;
}
nav.post-controls span.badge-posts {
  margin-right: 5px;
  transition: all linear 0.15s;
}
nav.post-controls .actions {
  text-align: right;
  float: right;
  display: inline-block;
}
nav.post-controls .actions .more-actions {
  display: none;
  overflow: hidden;
}
nav.post-controls .show-replies {
  margin-left: -10px;
  font-size: inherit;
}
nav.post-controls .show-replies span.badge-posts {
  color: #a7a7a7;
}
nav.post-controls .show-replies:hover {
  background: #e9e9e9;
}
nav.post-controls .show-replies:hover span.badge-posts {
  color: #222;
}
nav.post-controls .show-replies i {
  margin-left: 5px;
  font-size: 90%;
}
nav.post-controls button.create {
  margin-right: 0;
  color: #4e4e4e;
  margin-left: 10px;
}
nav.post-controls .create i {
  margin-right: 5px;
}
nav.post-controls button {
  font-size: 1.143em;
  padding: 8px 10px;
  vertical-align: top;
  background: transparent;
  border: none;
  margin-left: 3px;
  transition: all linear 0.15s;
}
nav.post-controls button:hover {
  background: #e9e9e9;
  color: #222;
}
nav.post-controls button:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
}
nav.post-controls button.hidden {
  display: none;
}
nav.post-controls button.admin {
  position: relative;
}
nav.post-controls button.delete:hover {
  background: #e45735;
  color: #fff;
}
nav.post-controls button.like:hover {
  color: #fa6c8d;
  background: #fee9ee;
}
nav.post-controls button.has-like {
  color: #fa6c8d;
}
nav.post-controls button.has-like[disabled]:hover {
  background: transparent;
}
nav.post-controls button.has-like[disabled]:active {
  box-shadow: none;
}
nav.post-controls button.bookmark {
  padding: 8px 11px;
}
nav.post-controls button .read-icon:before {
  font-family: "FontAwesome";
  content: "\f02e";
}
nav.post-controls button .read-icon.unseen:before {
  content: "\f097";
}
nav.post-controls button .read-icon.bookmarked:before {
  color: #08c;
}
nav.post-controls .post-admin-menu {
  background-color: #fff;
  width: 205px;
  padding: 10px;
  border: 1px solid #e9e9e9;
  position: absolute;
  text-align: left;
  bottom: -2px;
  right: 15px;
  z-index: 1000;
  display: none;
}
nav.post-controls .post-admin-menu h3 {
  margin-top: 0;
  color: #222;
  font-size: 1em;
}
nav.post-controls .post-admin-menu ul {
  list-style: none;
  margin: 10px 0 0 0;
}
nav.post-controls .post-admin-menu li {
  width: 176px;
  margin-bottom: 5px;
}
nav.post-controls .post-admin-menu li i.fa {
  width: 14px;
  margin-right: 14px;
}
.topic-map {
  margin: 20px 0 0 0;
  background: #f8f8f8;
  border: 1px solid #e9e9e9;
  border-top: none;
}
.topic-map section {
  border-top: 1px solid #e9e9e9;
}
.topic-map h3 {
  margin-bottom: 4px;
  color: #4e4e4e;
  line-height: 23px;
  font-weight: normal;
  font-size: 1em;
}
.topic-map h4 {
  margin: 1px 0 2px 0;
  color: #919191;
  font-weight: normal;
  font-size: 0.857em;
  line-height: 15px;
}
.topic-map ul {
  margin: 0;
  list-style: none;
}
.topic-map span.domain {
  font-size: 0.714em;
  color: #919191;
}
.topic-map .avatars > div {
  float: left;
  position: relative;
  margin: 3px 0;
}
.topic-map .avatars .post-count {
  position: absolute;
  right: 3px;
  border-radius: 100px;
  padding: 4px 5px 2px 5px;
  text-align: center;
  font-weight: normal;
  font-size: 11px;
  line-height: 1;
}
.topic-map .avatar {
  float: left;
  margin-right: 4px;
}
.topic-map .map .secondary {
  text-align: center;
}
.topic-map .map li {
  float: left;
  padding: 7px 10px;
}
.topic-map .map li:last-of-type {
  border-right: 0;
}
.topic-map .map li:nth-child(3) {
  text-align: center;
}
.topic-map .map a,
.topic-map .map .number {
  line-height: 20px;
}
.topic-map .map .number,
.topic-map .map i {
  color: #4e4e4e;
  font-size: 130%;
}
.topic-map .map .avatar a {
  float: left;
}
.topic-map .avatars,
.topic-map .links,
.topic-map .information {
  padding: 7px 10px 15px 10px;
  color: #222;
}
.topic-map .participants .user {
  float: left;
  margin: 7px 20px 7px 0;
}
.topic-map .topic-links .badge-notification {
  margin: 1px 5px 5px 0;
}
.topic-map td {
  vertical-align: top;
  padding: 1px;
}
.topic-map .buttons {
  float: right;
}
.topic-map .buttons .btn {
  border: 0;
  padding: 0 23px;
  color: #a7a7a7;
  background: #f8f8f8;
  border-left: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
}
.topic-map .buttons .btn:hover {
  color: #222;
  background: #e9e9e9;
}
.topic-map .buttons .btn.collapsed {
  padding-bottom: 1px;
}
.topic-map .buttons .btn .fa {
  margin: 0;
  font-size: 1.286em;
  line-height: 52px;
}
.topic-avatar {
  width: 45px;
}
.topic-nav {
  margin-bottom: 0;
}
.topic-nav .nav-item {
  background: whitesmoke;
  padding: 5px 10px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}
.topic-nav .nav-item.active {
  background: #e45735;
  color: white;
}
.topic-nav .nav-item:hover {
  color: #e45735;
  background-color: #f7cdc2;
}
.topic {
  border-top: solid 1px #eee;
  padding: 8px 0;
}
.topic:last-child {
  border-bottom: solid 1px #eee;
}
.topic.topic-about {
  border-top: none;
  padding-top: 0;
}
.topic.topic-about .topic-description {
  color: #666;
  font-weight: normal;
}
.topic .topic-description {
  font-weight: bold;
  display: inline-block;
}
.topic .topic-description .avatar {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  margin-right: 10px;
}
.topic .topic-description a {
  color: #333;
}
.topic .topic-meta {
  line-height: 30px;
  vertical-align: middle;
  display: inline-block;
  float: right;
}
.topic .topic-meta span {
  display: inline-block;
  color: #999;
  font-size: 12px;
  margin-left: 25px;
}
