* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
  color: #3ea5ff;
}
a:hover {
  color: #2f9eff;
}
body {
  margin: 0;
  background: #e9eaec;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  color: #444;
}
textarea {
  font-size: 14px;
  width: 100%;
  height: 80px;
  padding: 8px 10px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ddd;
  resize: none;
}
.button {
  padding: 8px 16px;
  text-align: center;
  border-radius: 3px;
  border: none;
  background-color: #3ea5ff;
  color: #fff;
  outline: none;
  font-size: 14px;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
}
.button:hover {
  background-color: #2782D2;
  cursor: pointer;
}
.button:active {
  background-color: #065192;
}
.center {
  text-align: center;
}
pre code {
  overflow: auto;
  background-color: #f3f6fa!important;
  border-radius: 0.3rem;
  word-wrap: normal;
  border: solid 1px #dce6f0;
}
.row-wrap {
  width: 960px;
  margin: auto;
}
div.nav-bar {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
ul li {
  list-style: none;
}
ul.menus {
  float: left;
  overflow: hidden;
  background: #fff;
  height: 40px;
  border-bottom: 1px solid #ccc;
}
ul.menus li.menu-item {
  line-height: 40px;
  width: 60px;
  float: left;
  text-align: center;
  color: #000;
}
ul.menus li.menu-item a {
  transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  display: inline-block;
  height: 100%;
  width: 100%;
}
ul.menus li.menu-item a.active {
  background-color: rgba(204, 204, 204, 0.3);
}
ul.menus li.menu-item a:hover {
  background-color: rgba(204, 204, 204, 0.3);
}
div.menus-wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 960px;
}
div.menus-wrapper h1 {
  float: left;
  display: inline-block;
  color: #fff;
  height: 100%;
  text-align: left;
  line-height: 40px;
  font-weight: lighter;
}
div.menus-wrapper h1 a {
  display: inline-block;
  height: 100%;
  width: 100%;
}
@media (max-width: 960px) {
  div.align-content {
    width: 100%;
  }
  div.align-content div.search {
    margin-right: 10px;
  }
}
@media (max-width: 850px) {
  div.menus-wrapper h1 {
    width: 100px;
  }
}
@media (max-width: 800px) {
  ul.menus li.menu-item {
    width: 50px;
    font-size: 12px;
  }
}
div.content {
  width: 80%;
  max-width: 960px;
  overflow: hidden;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  div.content,
  div.menus-wrapper {
    width: 96%;
  }
}
div.content-left {
  position: relative;
  width: 69%;
  min-height: 700px;
  float: left;
}
div.content-right {
  width: 30%;
  min-height: 700px;
  float: right;
}
@media (max-width: 499px) {
  div.nav-bar {
    margin-bottom: 10px;
  }
  div.content-left {
    width: 100%;
    margin-bottom: 10px;
  }
  div.content-right {
    width: 100%;
  }
}
div.nav-bar {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  background-color: #3ea5ff;
  height: 40px;
  margin-bottom: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
body {
  padding-top: 60px;
}
.brand-logo-container {
  display: inline-block;
}
.brand-logo-container a {
  color: white;
  font-size: 28px;
}
@media (min-width: 960px) {
  div.nav-bar {
    height: 40px;
    margin-bottom: 10px;
  }
  div.nav-bar div.align-content {
    height: 0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 80%;
    max-width: 960px;
  }
  div.nav-bar div.align-content img.avatar {
    float: right;
    margin-top: 5px;
    margin-left: 15px;
  }
}
@media (max-width: 730px) {
  div.nav-bar {
    margin-bottom: 40px;
  }
  ul.menus {
    position: absolute;
    bottom: -35px;
    width: 100%;
    /* border-top: 1px solid #ccc; */
    height: 34px;
  }
  ul.menus li.menu-item {
    line-height: 35px;
  }
  div.align-content div.search {
    width: 60%;
  }
}
@media (max-width: 319px) {
  div.align-content div.search {
    width: 45%;
  }
}
@media (max-width: 200px) {
  div.align-content div.search {
    display: none;
  }
}
div.product {
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  min-height: 130px;
  padding: 10px 10px;
  margin-bottom: 10px;
}
div.product div.item-left {
  height: 100%;
  float: left;
  width: 75%;
}
div.product div.item-left h3.item-title {
  margin-bottom: 5px;
}
div.product div.item-left h3.item-title:hover {
  color: #000;
}
div.product div.item-left p.item-content {
  margin-bottom: 10px;
}
div.product div.item-left span.item-publish-date {
  margin-right: 10px;
}
div.product div.item-right {
  height: 110px;
  width: 130px;
  float: left;
  margin-right: 20px;
}
div.product div.item-right img {
  height: 100%;
  width: 100%;
}
@media (max-width: 950px) {
  div.product div.item-left {
    width: 100%;
  }
  div.product div.item-left p.item-content {
    padding-bottom: 5px;
    border-bottom: 1px solid #F1f1f1;
  }
}
div.recommendation-slider {
  background-color: #fff;
  min-height: 200px;
  text-align: center;
  margin-bottom: 10px;
}
div.recommendation-slider:before {
  content: "推荐Slider";
  line-height: 200px;
}
div.hot-topic-slide {
  background-color: #fff;
  min-height: 500px;
  text-align: center;
  margin-bottom: 10px;
}
div.hot-topic-slide:before {
  content: "热门话题";
  line-height: 500px;
}
div.search {
  position: relative;
  float: right;
  display: block;
  margin-top: 5px;
  width: 250px;
}
div.search input {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding: 5px 27px 6px 12px;
  font-size: 12px;
  line-height: 30px;
  color: #292f33;
  background-color: #f5f8fa;
  border: 1px solid #e1e8ed;
  border-radius: 21px;
  transition: all 0.2s ease-in-out;
  outline: none;
}
div.search input:focus {
  background-color: #fff;
}
div.search span.search-icon {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  padding-right: 3px;
  color: #9E9898;
  border-left: 1px solid #e1e8ed;
}
img.avatar {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #eee;
  float: left;
}
div.sku {
  width: 100%;
  margin-bottom: 20px;
}
div.sku img.pic {
  width: 100%;
  height: 100%;
}
div.sku div.sku-left {
  background-color: #fff;
  float: left;
  height: 100%;
}
div.sku div.sku-right {
  float: left;
  height: 100%;
}
div.sku div.sku-right div.sku-right-up {
  background-color: #fff;
}
div.sku div.sku-right div.sku-right-bottom div.sku-right-bottom-left {
  background-color: #fff;
  float: left;
  height: 100%;
}
div.sku div.sku-right div.sku-right-bottom div.sku-right-bottom-right {
  background-color: #fff;
  float: left;
  height: 100%;
}
/**
 * 分类目录
 */
.product-categories .category ul {
  margin: 0;
  padding: 0;
}
.product-categories .category .category-nav {
  padding: 4px 0;
  margin-bottom: 10px;
  border-bottom: solid 1px whitesmoke;
}
.product-categories .category .category-nav li {
  position: relative;
  display: inline-block;
  padding-right: 15px;
}
.product-categories .category .category-nav li::after {
  content: '>';
  position: absolute;
  right: 0;
  top: 2px;
  color: #333;
}
.product-categories .category .category-nav li a {
  font-weight: bold;
  color: #333;
  font-size: 15px;
}
.product-categories .category .category-recommend {
  margin-bottom: 10px;
}
.product-categories .category .category-recommend li {
  display: inline-block;
  margin-right: 5px;
  border: solid 1px whitesmoke;
  padding: 6px 15px;
}
.product-categories .category .category-items li.category-item {
  display: inline-block;
  margin: 10px 10px 10px 0;
}
.product-categories .category .category-items li.category-item a {
  font-size: 12px;
  color: #666;
}
div.footer {
  background-color: #fff;
  margin-top: 100px;
  min-height: 140px;
  width: 100%;
  border-top: 1px solid transparent;
  font-size: 13px;
}
div.footer div.footer-align {
  border-top: 1px solid transparent;
  width: 80%;
  margin: 0 auto;
  margin-top: 46.66666667px;
  text-align: center;
}
div.footer div.footer-align a.cell:not(:last-child)::after {
  content: "|";
  padding: 0 10px;
  font-size: 12px;
  color: #B9B9B9;
}
div.paginate {
  display: flex;
  justify-content: center;
  /* align horizontal */
  width: 100%;
  height: 35px;
  background-color: #fff;
}
div.paginate div.paginate-align {
  height: 100%;
}
div.paginate .hover:hover {
  cursor: pointer;
  color: #3ea5ff;
}
div.paginate div.page-unit {
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  height: 100%;
  width: 100px;
  float: left;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}
div.paginate div.page-unit .page-item:hover {
  cursor: pointer;
  color: #3ea5ff;
}
div.paginate div.previous-page {
  border-right: 1px solid #ccc;
}
div.paginate div.previous-page:hover {
  cursor: pointer;
  color: #3ea5ff;
}
div.paginate div.pages {
  position: relative;
}
div.paginate div.pages ul {
  display: none;
  box-shadow: 0px -1px 6px #ccc;
  max-height: 300px;
  overflow: auto;
  width: 102px;
  position: absolute;
  bottom: 32px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
  left: -1px;
}
div.paginate div.pages ul.active {
  display: block;
}
div.paginate div.pages ul li {
  padding: 5px 0;
}
div.paginate div.pages ul li:hover,
div.paginate div.pages ul li.active {
  background-color: #f7f7f7;
  cursor: pointer;
}
div.paginate div.next-page {
  border-left: 1px solid #ccc;
}
div.paginate div.next-page:hover {
  cursor: pointer;
  color: #3ea5ff;
}
div.mask {
  z-index: 100;
  background-color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
}
div.mask.show {
  opacity: 0.6;
  display: block;
}
@media (max-width: 400px) {
  div.sku {
    margin-bottom: 10px;
  }
  div.categories-bar {
    margin-bottom: 10px;
  }
}
