* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
  color: #3ea5ff;
}
a:hover {
  color: #2f9eff;
}
body {
  margin: 0;
  background: #e9eaec;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  color: #444;
}
textarea {
  font-size: 14px;
  width: 100%;
  height: 80px;
  padding: 8px 10px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ddd;
  resize: none;
}
.button {
  padding: 8px 16px;
  text-align: center;
  border-radius: 3px;
  border: none;
  background-color: #3ea5ff;
  color: #fff;
  outline: none;
  font-size: 14px;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
}
.button:hover {
  background-color: #2782D2;
  cursor: pointer;
}
.button:active {
  background-color: #065192;
}
.center {
  text-align: center;
}
pre code {
  overflow: auto;
  background-color: #f3f6fa!important;
  border-radius: 0.3rem;
  word-wrap: normal;
  border: solid 1px #dce6f0;
}
:-webkit-any(select.form-control) {
  -webkit-appearance: none;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAFCAMAAACdH1c/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFRUpR////m74sLQAAAAJ0Uk5T/wDltzBKAAAAJklEQVR42mJgYAQDKAUFDAwMEApVFCyAJsgIFkIXBJuHIcgIEGAAEyUAWsvQ8r0AAAAASUVORK5CYII=);
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.07);
}
::-webkit-scrollbar-thumb {
  border-width: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(106, 106, 106, 0.52);
  -webkit-box-shadow: inset 0 0 4px rgba(173, 173, 173, 0.5);
}
.main-content {
  min-height: 600px;
}
.row-wrap {
  width: 960px;
  margin: auto;
}
div.footer {
  background: #F3F3F3;
  margin-top: 100px;
  min-height: 140px;
  width: 100%;
  border-top: 1px solid transparent;
  font-size: 13px;
}
div.footer div.footer-align {
  border-top: 1px solid transparent;
  width: 80%;
  margin: 0 auto;
  margin-top: 46.66666667px;
  text-align: center;
}
div.footer div.footer-align a.cell:not(:last-child)::after {
  content: "|";
  padding: 0 10px;
  font-size: 12px;
  color: #B9B9B9;
}
h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #443E3E;
}
li.survey-item {
  list-style: none;
  width: 32%;
  float: left;
  margin: 0 1% 1% 0px;
  word-wrap: break-word;
  background-color: #fff;
  padding: 10px 15px;
}
li.survey-item .survey-key {
  color: #443E3E;
  font-weight: bolder;
}
li.survey-item .key-value {
  margin-bottom: 3px;
}
@media (max-width: 730px) {
  li.survey-item {
    width: 48%;
  }
  div.nav-bar {
    margin-bottom: 10px!important;
  }
}
@media (max-width: 500px) {
  li.survey-item {
    width: 100%;
  }
}
