* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
  color: #3ea5ff;
}
a:hover {
  color: #2f9eff;
}
body {
  margin: 0;
  background: #e9eaec;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  color: #444;
}
textarea {
  font-size: 14px;
  width: 100%;
  height: 80px;
  padding: 8px 10px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ddd;
  resize: none;
}
.button {
  padding: 8px 16px;
  text-align: center;
  border-radius: 3px;
  border: none;
  background-color: #3ea5ff;
  color: #fff;
  outline: none;
  font-size: 14px;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
}
.button:hover {
  background-color: #2782D2;
  cursor: pointer;
}
.button:active {
  background-color: #065192;
}
.center {
  text-align: center;
}
pre code {
  overflow: auto;
  background-color: #f3f6fa!important;
  border-radius: 0.3rem;
  word-wrap: normal;
  border: solid 1px #dce6f0;
}
.row-wrap {
  width: 960px;
  margin: auto;
}
div.nav-bar {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
ul li {
  list-style: none;
}
ul.menus {
  float: left;
  overflow: hidden;
  background: #fff;
  height: 40px;
  border-bottom: 1px solid #ccc;
}
ul.menus li.menu-item {
  line-height: 40px;
  width: 60px;
  float: left;
  text-align: center;
  color: #000;
}
ul.menus li.menu-item a {
  transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  display: inline-block;
  height: 100%;
  width: 100%;
}
ul.menus li.menu-item a.active {
  background-color: rgba(204, 204, 204, 0.3);
}
ul.menus li.menu-item a:hover {
  background-color: rgba(204, 204, 204, 0.3);
}
div.menus-wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 960px;
}
div.menus-wrapper h1 {
  float: left;
  display: inline-block;
  color: #fff;
  height: 100%;
  text-align: left;
  line-height: 40px;
  font-weight: lighter;
}
div.menus-wrapper h1 a {
  display: inline-block;
  height: 100%;
  width: 100%;
}
div.nav-bar {
  background-color: #3ea5ff;
  position: relative;
  height: 40px;
  margin-bottom: 10px;
}
@media (max-width: 960px) {
  div.align-content {
    width: 100%;
  }
  div.align-content div.search {
    margin-right: 10px;
  }
}
@media (min-width: 960px) {
  div.nav-bar {
    position: relative;
    height: 40px;
    margin-bottom: 10px;
  }
  div.nav-bar div.align-content {
    height: 0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 80%;
    max-width: 960px;
  }
  div.nav-bar div.align-content img.avatar {
    float: right;
    margin-top: 5px;
    margin-left: 15px;
  }
}
@media (max-width: 850px) {
  div.menus-wrapper h1 {
    width: 100px;
  }
}
@media (max-width: 800px) {
  ul.menus li.menu-item {
    width: 50px;
    font-size: 12px;
  }
}
@media (max-width: 730px) {
  div.nav-bar {
    margin-bottom: 40px;
  }
  ul.menus {
    position: absolute;
    bottom: -35px;
    width: 100%;
    /* border-top: 1px solid #ccc; */
    height: 34px;
  }
  ul.menus li.menu-item {
    line-height: 35px;
  }
  div.align-content div.search {
    width: 60%;
  }
}
@media (max-width: 319px) {
  div.align-content div.search {
    width: 45%;
  }
}
@media (max-width: 200px) {
  div.align-content div.search {
    display: none;
  }
}
div.content {
  width: 80%;
  max-width: 960px;
  overflow: hidden;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  div.content,
  div.menus-wrapper {
    width: 96%;
  }
}
div.content-left {
  position: relative;
  width: 69%;
  min-height: 700px;
  float: left;
}
div.content-right {
  width: 30%;
  min-height: 700px;
  float: right;
}
@media (max-width: 499px) {
  div.nav-bar {
    margin-bottom: 10px;
  }
  div.content-left {
    width: 100%;
    margin-bottom: 10px;
  }
  div.content-right {
    width: 100%;
  }
}
div.footer {
  background-color: #fff;
  margin-top: 100px;
  min-height: 140px;
  width: 100%;
  border-top: 1px solid transparent;
  font-size: 13px;
}
div.footer div.footer-align {
  border-top: 1px solid transparent;
  width: 80%;
  margin: 0 auto;
  margin-top: 46.66666667px;
  text-align: center;
}
div.footer div.footer-align a.cell:not(:last-child)::after {
  content: "|";
  padding: 0 10px;
  font-size: 12px;
  color: #B9B9B9;
}
h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #443E3E;
}
li.survey-item {
  list-style: none;
  width: 32%;
  float: left;
  margin: 0 1% 1% 0px;
  word-wrap: break-word;
  background-color: #fff;
  padding: 10px 15px;
}
li.survey-item .survey-key {
  color: #443E3E;
  font-weight: bolder;
}
li.survey-item .key-value {
  margin-bottom: 3px;
}
@media (max-width: 730px) {
  li.survey-item {
    width: 48%;
  }
  div.nav-bar {
    margin-bottom: 10px!important;
  }
}
@media (max-width: 500px) {
  li.survey-item {
    width: 100%;
  }
}
