@import "topic-control.less";
@import "topic-map.less";
@import "topic-reply";
.topic-nav {
  margin-bottom: 0;
  .nav-item {
    background: whitesmoke;
    padding: 5px 10px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    &.active {
      background: #e45735;
      color: white;
    }
    &:hover {
      color: #e45735;
      background-color: #f7cdc2;
    }
  }
}

.topic {
  border-top: solid 1px @border-color;
  padding: 8px 0;
  &:last-child {
    border-bottom: solid 1px @border-color;
  }
  &.topic-about {
    border-top: none;
    padding-top: 0;
    .topic-description {
      color: #666;
      font-weight: normal;
    }
  }
  .topic-description {
    font-weight: bold;
    display: inline-block;
    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 2px;
      margin-right: 10px;
    }
    a {
      color: #333;
    }
  }

  .topic-meta {
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
    float: right;
    >span {
      display: inline-block;
      color: #999;
      font-size: 12px;
      margin-left: 25px;
    }

    span.tag {
      margin-right: 5px;
    }

  }
}